apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - namespace.yaml
  - configmap.yaml
  - statefulset.yaml
  - service.yaml
  - service-external.yaml
  - console-deployment.yaml
  - console-service.yaml
  - http-route.yaml
