# dependencies (bun install)
node_modules

# output
out
dist
*.tgz

# code coverage
coverage
*.lcov

# logs
logs
_.log
report.[0-9]_.[0-9]_.[0-9]_.[0-9]_.json

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# caches
.eslintcache
.cache
*.tsbuildinfo

# IntelliJ based IDEs
.idea

# Finder (MacOS) folder config
.DS_Store

# Talos sensitive files
talos/secrets.yaml
talos/talosconfig
talos/kubeconfig
talos/*.json
!talos/.gitkeep

# Generated Talos configuration files
controlplane-*.yaml

# Other sensitive files  
secrets.yaml
kubeconfig
talosconfig
infrastructure/talos-cluster/talos
key.txt
tunnel-creds.json
infrastructure/controllers/argocd/charts
